# Identify the langugae
*.Rproj linguist-language=R
*.Rmd linguist-language=R

# Detect paths
US_Governors/ linguist-detectable=true

# Overrides
*.nb.html linguist-vendored

# Detect other languages
* linguist-detectable=true